.addToCartButton {
	width: 100%;
	padding: 0.6rem 1rem;
	border-radius: 8px;
	font-weight: 600;
	border: none;
	transition: all 0.2s;
	color: #ffffff;
}

.addToCartButton:disabled {
	background: #ccc !important;
	opacity: 0.5;
	cursor: not-allowed;
}

.addToCartButton:not(:disabled) {
	background: #000000 !important;
	cursor: pointer;
}

